{% block form_row %}

    {{ form_label(form) }}
    <div class="ligneFormulaire">
        <div class="error">{{ form_errors(form) }}</div>
        <div> {{ form_widget(form) }}</div>
    </div>

{% endblock %}