{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Ajouter un campus

{% endblock %}


{% block body %}
    <h1>Ajouter un campus</h1>
    {%  embed 'views/form/default_form.html.twig'  with {'form' : campusForm}%}
        {% block buttonLabel %}Ajouter {% endblock %}
    {% endembed %}
{% endblock %}
