{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Campus

{% endblock %}

{% block body %}
    <h2>Gérer les campus</h2>

    <label for="recherche">Le nom contient : </label>
    <input type="search" name="" id="">
{#    <input type="button" value="Rechercher">#}


    <table>
        <thead>
        <tr>
            <th>Campus</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for camp in campus %}
            <tr>
                <td>{{ camp.nom }}</td>
                <td><a href="https://www.instagram.com/evagssr/">Modifier</a> - <a href="{{ path('campus_delete', {'id': camp.id})}}">Supprimer</a></td>
            </tr>
        {% endfor %}
            
            <tr>
                <td> </td>
                <td><a href="https://www.youtube.com/watch?v=Tiu8Aro-U2I&t=42s">Ajouter</a></td>
            </tr>

        </tbody>
    </table>






{% endblock %}

