{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Modifier un campus

{% endblock %}


{% block body %}
    <h1>Modifier un campus</h1>
    {%  embed 'views/form/default_form.html.twig'  with {'form' : campusUpdateForm}%}
        {% block buttonLabel %}Ajouter {% endblock %}
    {% endembed %}
{% endblock %}
