body {
    min-height: 100%;
    min-width: 100%;
    color: #420030;
}

.ligneFormulaire {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: 50%;
    margin: 1em;
}

#ligneFormulaire {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: 50%;
    margin: 1em;
}

nav> ul > div > li > a:hover {
    text-decoration: none;
    color: #de3401;
}

a {
    text-decoration: none;
    color: #de3401;
    transition-duration: 0.4s;
}

a:hover{
    color: #420030;
}

nav > ul > div > li {
    list-style-type: none;
    display: inline-block;
    position: relative;
}
nav > ul > div > li::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #de3401;
    transform-origin: bottom left;
    transition: transform 0.25s ease-out;
}


nav > ul > div > li:hover::after {
    transform: scaleX(1);
    transform-origin: bottom right;
}

button:hover, input[type="submit"]:hover, input[type="button"]:hover {
    background-color: #ff3b00;
    color: white;
}

.barreNavigation {
    display: flex;
    justify-content: space-evenly;
}

h2, h3 {
    color: #420030;
    padding-top: 1em;
    display: flex;
    justify-content: center;
    padding-bottom: 1em;
}

h1 {
    color: #420030;
    display: flex;
    justify-content: center;
    padding-top: 1em;
}


input[type="submit"], button, input[type="button"], input[type="file"] {
    background-color: #fce7e0;
    padding: 5px;
    border-radius: 5px;
    transition-duration: 0.4s;
}

table {
    margin-left: 0;
    margin-top: 5%;
    width: 100%;
}

.supprModif {
    display: flex;
    justify-content: space-evenly;
}

.ajouter {
    display: flex;
    justify-content: center;
}

table > thead > tr > th {
    border: #420030 solid 2px;
    padding: 1em;
}

td {
    border: #420030 solid 1px;
    padding: 1em;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}


#createSortie {
    margin: 2em;
    padding: 5px;
    border-radius: 5px;
    transition-duration: 0.5s;
}

.recap {
    display:flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}


.deuxBoutons {
    display: flex;
    justify-content: center;
}

.deuxBoutons> button:nth-child(2){
    margin-left: 2em;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 5px;
}

main {
    flex: 1;
}

body > .container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

input[type="search"]:focus, input[type="text"]:focus, input[type="date"]:focus, input[type="datetime-local"]:focus, input[type="password"]:focus{
    box-shadow: #fce7e0 0 0 5px 5px;
}

.imgProfil {
    display: flex;
    justify-content: center;
}
.imgProfil > img {
    border: #de3401 2px inset;
    border-radius: 50%;
    height: 30%;
    width: 30%;
}

form > .formRecherche  {
    display: flex;
    width: 80%;
    justify-content: space-evenly;
    align-items: center;
}

.centrer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.centrer > a {
    margin-left: 5px;
}