{% extends 'base.html.twig' %}

{% block title %}
    Error 404 | {{ parent() }}
{% endblock %}

{% block body %}
    <h2>Oops !</h2>

    <div class="textError">
        <p>Vous n'êtes pas au bon endroit ! <br>
            Vérifiez votre URL ou
            <a href="{{ path('main_homepage') }}">retournez sur la page d'accueil</a>.
        </p>
    </div>

{% endblock %}